In [149]:
%config Completer.use_jedi = False
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [150]:
import os, sys
sys.path.append(os.path.abspath('..'))

In [164]:
import numpy as np
import pandas as pd
from wm import Image as PolarImage
from PIL import Image

In [165]:
from wm.moments import RadialHarmonicFourierMoment
from wm.moments import ZernikeMoment, PseudoZernikeMoment

In [166]:
from multiprocessing import Pool

In [173]:
images = ['airplane_128']#, 'arctichare', 'baboon', 'barbara', 'boat', 'fruits', 'lena', 'monarch', 'peppers', 'zelda']

# Distortion

In [174]:
from wm.benchmarks.utils import run
from wm.benchmarks.distortion import MSE, SNR, PSNR

In [175]:
W = 128
Ls = [0, 8, 16, 24]
repetitions = 2
method = RadialHarmonicFourierMoment(order+1, W)

In [176]:
def gen_bs(method, data, pos, im):
    return [
        MSE(method, data, pos=pos, original=im),
        SNR(method, data, pos=pos, original=im),
        PSNR(method, data, pos=pos, original=im)
    ]

In [178]:
run(method, images, Ls, repetitions, gen_bs, '../images/monochrome/')

airplane_128 0 0
airplane_128 0 1
airplane_128 8 0
airplane_128 8 1

/mnt/c/Users/gkrupp/Desktop/M/watermarking/wm/metrics/noise.py:10: RuntimeWarning: divide by zero encountered in double_scalars
  return 1/(w*h) * np.sum(X**2) / MSE(X, Y)
/mnt/c/Users/gkrupp/Desktop/M/watermarking/wm/metrics/noise.py:10: RuntimeWarning: divide by zero encountered in double_scalars
  return 1/(w*h) * np.sum(X**2) / MSE(X, Y)
/mnt/c/Users/gkrupp/Desktop/M/watermarking/wm/metrics/noise.py:13: RuntimeWarning: divide by zero encountered in true_divide
  return 20 * np.log10(np.max(X)/np.sqrt(MSE(X, Y)))

airplane_128 16 0

/mnt/c/Users/gkrupp/Desktop/M/watermarking/wm/metrics/noise.py:13: RuntimeWarning: divide by zero encountered in true_divide
  return 20 * np.log10(np.max(X)/np.sqrt(MSE(X, Y)))

airplane_128 16 1
airplane_128 24 0
airplane_128 24 1

             im   L  k       MSE         SNR       PSNR
0  airplane_128   0  0  0.000000         inf        inf
1  airplane_128   0  1  0.000000         inf        inf
2  airplane_128   8  0  0.954895  121.640780  48.019146
3  airplane_128   8  1  0.599854  193.637566  50.038250
4  airplane_128  16  0  2.011536   57.744030  44.783425
5  airplane_128  16  1  2.003784   57.967408  44.800193
6  airplane_128  24  0  2.636292   44.059686  43.608768
7  airplane_128  24  1  2.211853   52.514418  44.371139